@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
:root {
  --green: #2bd0d0;
  --main-color: #34313d;
  --primary-color: #3a3054;
  --second-color: #4b3f6b;
  --background-color: #4b3f6b;
  --light-color: #eff1f7;
  --color: #9e9aa8;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins";
}
body {
  width: 100%;
  min-width: 37.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
  color: var(--color);
}
button,
input {
  border: none;
  outline: none;
  background-color: #fff;
}
input::placeholder {
  opacity: 0.5;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/* *header */
.header {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin: 2.5rem;
}
.logo {
  flex: 2;
}
.logo .img {
  width: 12rem;
  height: 3.3rem;
}
.nav {
  flex: 8;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.menu li {
  margin: 0 1.5rem;
}
.menu li:first-child {
  margin-left: 0;
}
.nav > .menu > li > a {
  color: var(--color);
}
.nav > .menu > li > a:hover {
  color: var(--main-color);
}
.box-button {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-button .btn {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: var(--color);
  padding: 1rem 2.5rem;
}
.box-button .sign-up {
  background-color: var(--green);
  color: #fff;
  border-radius: 2.8rem;
  transition: all 0.4s ease;
  cursor: pointer;
}
.sign-up:hover {
  background-color: #9ae3e3;
}
/* *started */
.started {
  width: 100%;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/illustration-working.svg);
  background-repeat: no-repeat;
  background-position: 115%;
  margin-top: 5rem;
  margin-bottom: 15rem;
}
.wrapper-started {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.title-started {
  width: 57rem;
  font-size: 8rem;
  line-height: 9rem;
  color: var(--main-color);
  letter-spacing: -2px;
  font-weight: 700;
}
.text-started {
  width: 57rem;
  font-size: 2.2rem;
  line-height: 3.6rem;
  color: #9e9aa8;
  font-weight: 500;
  margin: 1rem 0;
}
.btn-started {
  background-color: var(--green);
  padding: 1rem 3.5rem;
  color: #fff;
  font-size: 2rem;
  line-height: 3rem;
  border-radius: 2.8rem;
  font-weight: 700;
  margin-top: 3rem;
  transition: all 0.4s ease;
  cursor: pointer;
}

.btn-started:hover {
  background-color: #9ae3e3;
}

/* *main */
.main {
  width: 100%;
  background-color: var(--light-color);
  margin: 0 auto;
}
.wrapper-main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.box-input {
  width: 100%;
  background-color: #3a3054;
  background-image: url(./images/bg-shorten-desktop.svg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  border-radius: 1rem;
  position: absolute;
  top: -7.8rem;
}
#input {
  width: 80%;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 2rem;
  line-height: 3.6rem;
  font-weight: 500;
  letter-spacing: 0.15px;
  padding: 1rem 3rem;
  margin-right: 3rem;
}
#btn {
  width: 20%;
  background-color: var(--green);
  color: #fff;
  padding: 1.3rem 0;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  border-radius: 1rem;
  transition: all 0.4s ease;
  cursor: pointer;
}
#btn:hover {
  background-color: #9ae3e3;
}
.short-links {
  width: 100%;
  margin-top: 10rem;
}
.box-short-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2.5rem 3rem;
  border-radius: 5px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
}
.short-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.short-address {
  color: var(--green);
}
.btn-copy {
  background-color: var(--green);
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 700;
  padding: 1rem 3rem;
  border-radius: 5px;
  margin-left: 3rem;
  transition: all 0.4s ease;
  cursor: pointer;
}
.btn-copy:hover {
  background-color: #9ae3e3;
}
.advanced-static {
  width: 100%;
  margin: 10rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advanced-static > h2 {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 700;
  color: var(--main-color);
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
}
.advanced-static > p {
  width: 50rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: var(--color);
  text-align: center;
}
.items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
  position: relative;
}
.items::before {
  content: "";
  height: 8px;
  width: 100%;
  background-color: var(--green);
  position: absolute;
  top: calc(55%);
  right: 0;
  left: 0;
}
.box-item {
  width: 35rem;
  height: 31rem;
  background-color: #fff;
  border-radius: 5px;
  padding: 3rem;
  position: relative;
}
.box-icon {
  position: absolute;
  top: -4.4rem;
  width: 8.8rem;
  height: 8.8rem;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.middle {
  margin-top: 8.8rem;
}
.bottom {
  margin-top: 17.6rem;
}
.box-item > h3 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: var(--main-color);
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 7rem;
}
.box-item > p {
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: var(--color);
  font-weight: 500;
}
/* *footer */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232127;
}

.baner {
  width: 100%;
  background-image: url(images/bg-boost-desktop.svg);
  background-color: var(--primary-color);
  background-size: cover;
  text-align: center;
  padding: 5rem;
}
.baner > h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  color: #fff;
  letter-spacing: -1px;
  margin-bottom: 5rem;
}
.btn-baner {
  background-color: var(--green);
  color: #fff;
  font-size: 2rem;
  line-height: 3rem;
  border-radius: 2.8rem;
  padding: 1.5rem 3rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn-baner:hover {
  background-color: #9ae3e3;
}
.wrapper-footer {
  width: 80%;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.logo-footer {
  flex: 2;
}
.box-footer {
  flex: 4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav > h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #fff;
}
.nav > ul > li > a {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: #bfbfbf;
  transition: color 0.4s ease;
}
.nav > ul > li > a:hover {
  color: var(--green);
}
.social i {
  font-size: 2.4rem;
  margin-left: 3rem;
  cursor: pointer;
  color: #fff;
  transition: color 0.4s ease;
}
.social i:hover {
  color: var(--green);
}
/* challange */
.attribution {
  width: 80%;
  border-top: 1px solid #ccc;
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 2rem;
  color: #fff;
}
.attribution a {
  color: var(--green);
  text-decoration: underline;
}
